.--content-box {
    background: rgba(#000, .75);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 0 20px 0 20px;
}

.--title-h1 {
    font-size: 50px;
    margin-bottom: 40px;
}

.--title-h3 {
    font-size: 40px;
    line-height: 100%;
    margin-bottom: 20px;
}